Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://venus.sod.asu.edu/WSRepository/xml"
  targetNamespace="http://venus.sod.asu.edu/WSRepository/xml"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:element name="Hotels" type="HotelsType"/>

  <xs:complexType name="HotelsType">
    <xs:sequence>
      <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="5"/>
      <xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Rating" type="xs:decimal" use="required"/>
    <xs:attribute name="Category" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="NearestAirport" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
